@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace; */

/* UNIVERSAL STYLES */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 70px repeat(5, 1fr);
}

/* TOP NAVIGATION  */

#nav-bar {
    background-color: black;
    display: inline-flex;
    grid-column: 1/7;
    align-items: center;
}

#nav-bar #h1-logo {
    color: white;
    font-family: 'Source Code Pro', monospace;
    margin-top: 0;
}

/* #hamburger {
    
} */

/* ul #main-nav {
    
}; */

/* #main-nav li {
    display: inline-flex;
} */

#main-nav li a {
    color: white;
    text-decoration: none;
}

/* HEADER */

/* header {
    
} */

img#profile-pic {
    border: 3px solid black;
    border-radius: 50%;
    grid-column: 1/7;
    grid-row: 2/3;
}

header h2, h3 {
    grid-column: 1/7;
    grid-row: 3/4;
}

/* MAIN CONTENT */

main {
    grid-column: 1/7;
    grid-row: 4/5;
}

/* main h2 {

} */

/* BOTTOM NAV */

#bottom-nav {
    grid-column: 1/7;
    grid-row: 5/6;
}

/* #bottom-nav ul {

} */

/* #bottom-nav ul li {


} */

/* #bottom-nav ul li a {

} */

#credit {
    grid-column: 1/7;
    grid-row: 6/7;
}



