@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace; */

/* UNIVERSAL STYLES */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 70px repeat(5, 1fr);
}

/* TOP NAVIGATION  */

#nav-bar {
    background-color: black;
    display: flex;
    grid-column: 1/7;
    justify-content: space-between;
    align-items: center;
}

#nav-bar #h1-logo {
    color: white;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding-left: 15px;
}

#hamburger {
    margin-right: 10px; 
}

ul#main-nav {
    padding-right: 15px;
    display: none;
}

#main-nav li {
    display: inline;
    padding-right: 15px;
}

#main-nav li a {
    color: white;
    text-decoration: none;
}

/* HEADER */

header {
    grid-column: 1/7;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    alight-items: center;
    padding-top: 15px;
    text-align: center;
}

/* #profile-pic {
    
} */

header #profile-pic img {
    border: 3px solid black;
    border-radius: 50%;
}

header #header-headers {
    margin: 10px;
    text-align: center;
}

/* MAIN CONTENT */

#main-wrapper {
    grid-column: 1/7;
    grid-row: 3/4;
}

main {
    padding: 0 10px 0 10px;
    text-align: center;
}

#contact {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* #projects {

} */

/* main h2 {

} */

/* BOTTOM NAV */

#bottom-nav {
    grid-column: 1/7;
    grid-row: 4/5;
}

#bottom-nav ul {
    list-style-type: none;
    text-align: center;
    margin: 30px 0 15px 0;
    padding: 0;
}

#bottom-nav ul li {
    padding-right:10px;
    display: inline;
}

#bottom-nav ul li a {
    text-decoration: none;
    color: blue;
}



