@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700");
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace; */

/* UNIVERSAL STYLES */

* {
    background-color: rgb(0, 8, 248);
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

#wrapper {
    max-width: 750px;
    margin: 0 auto;
    padding: 15px 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
   }

p, li {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: rgb(0, 248, 0);
    transition: background-color 0.5s;
}

a:hover {
    background-color: #02e0fd;
    border-radius: 3px;
}

.section {
    margin-bottom: 45px;
    line-height: 1.4rem;
    border-bottom: solid white 1px;
    padding-bottom: 10px;
}

.section h2 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 1.9rem;
}

.section p {
    margin-bottom: 20px;
}

#about, #projects, #contact {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    height: 510px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    width: 5px;
    height: 5px;
    margin-right: 7px;
    transition: transform 250ms;
    transform: rotate(45deg);
}

.section-header {
    display: flex;
    justify-content: space-between;
}

/* HEADER */

#header {
    padding-top: 10px;
    border-bottom: none;
    text-align: center;
}

#header h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    margin-bottom: 5px;
}

#header h2 {
    font-weight: 300;
    font-size: 1.2em;
    color: rgb(255, 255, 0);
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#languages {
    margin: 25px 0;
}

#languages i, footer i {
    font-size: 1.9rem;
}

#promotion ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#promotion li {
    font-size: 1.2rem;
    font-weight: 500;
}

/* ABOUT */

#about p {
    text-align: left;
}

.brand-statement {
    font-style: italic;
}

/* CONTACT FORM */

#contact-form input, textarea {
    background: white;
    display:block;
    margin: 15px auto 25px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    color: rgb(49, 48, 48)
}

#contact-form textarea {
    margin-bottom: 15px;
}

#contact-form button {
    padding: 10px 30px;
    margin-bottom: 45px;
    border-radius: 5px;
    border: none;
    background-color:rgb(0, 190, 248);
    transition: All 250ms ease;
    position: relative;
}

#contact-form button:active {
    transition: All 250ms ease;
    position: relative;
    top: 3px;
}

/* FOOTER */

footer i {
    margin: 0 20px;
}

